/* text fonts link */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Work Sans';
}

ul>li {
    list-style: none;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
}

p {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
}


/* header section start */
header {
    width: 100%;
    padding: 20px 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #FFF4E7;
}

.header-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    color: #131313;
}

#navBtn,
#navBtn+label {
    display: none;
}

nav>ul {
    display: flex;
    gap: 30px;
}
nav>ul>li>a{
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    color: #424242;
    transition: color 0.3s ease-in-out;
}
nav>ul>li>a:hover{
    color: #FF900E;
}
/* header section end */