/* text fonts link */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Work Sans';
}

body {
    overflow-x: hidden;
}

ul>li {
    list-style: none;
}

section {
    padding: 70px 0;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
}

p {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
}

.btn {
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
    background: #FF900E;
    padding: 15px 20px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.btn::after{
    content: "";
    position: absolute;
    width: 25px;
    height: 400px;
    background: #ffffffcf;
    top: -30px;
    left: -100%;
    filter: blur(15px);
    transform: rotate(30deg);
    transition: 0.4s ease-in-out;
}
.btn:hover::after{
    left: 100%;
}


/* header section start */
header {
    width: 100%;
    padding: 20px 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #FFF4E7;
    z-index: 999;
}

.header-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    color: #131313;
}

#navBtn,
#navBtn+label {
    display: none;
}

nav>ul {
    display: flex;
    gap: 30px;
}

nav>ul>li>a {
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    color: #424242;
    transition: color 0.3s ease-in-out;
}

nav>ul>li>a:hover {
    color: #FF900E;
}

/* header section end */





/* hero section start */
#hero {
    width: 100%;
    background: #FFF4E7;
    padding-top: 120px;
}

.hero-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.hero-text {
    max-width: 960px;
    padding: 0 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.hero-text>h1 {
    font-weight: 700;
    font-size: 64px;
    line-height: 75px;
    color: #131313;
}
.hero-banner{
    width: 100%;
    height: auto;
    border-radius: 10px;
}
.hero-banner>img{
    width: 100%;
}
/* hero section end */